:root {
  --point-color: #fd4659;
  --max-width: 700px;
  --min-width: 100px;
}

@media (max-width: var(--max-width)) {
  .container {
    width: calc(100% - 40px); /* 패딩을 고려한 width 계산 */
  }
}

@media (max-width: var(--min-width)) {
  .container {
    width: var(--min-width); /* 최소 width 고정 */
  }
}
